<!DOCTYPE html>
<html lang="en" ng-app="leagues">
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="assets/js/dependencies/angular.js"></script>
	<script type="text/javascript" src="assets/js/dependencies/jquery-3.1.0.min.js"></script>
	<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="assets/js/aram.js"></script>
	<script type="text/javascript" src="assets/js/aram.controller.js"></script>
	<script type="text/javascript" src="assets/js/match.controller.js"></script>
	<script type="text/javascript" src="assets/js/aram.factory.js"></script>
	<script type="text/javascript" src="assets/js/aram.directives.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<title>League of Legends</title>
</head>
<body ng-controller="AramController">
	<navbar></navbar>
	<div class="container" id="main">
		<span id="loading"></span>
		<landing ng-show="landingSwitch"></landing>
		<user></user>
		<div class="content" ng-controller="MatchController">
			<history ng-show="historySwitch"></history>
			<match ng-show="matchSwitch"></match>
		</div>
	</div>
</body>
</html>